<div class="layout">
    <div class="layout-header">
        <div class="row-container">
            <button (click)="setCurrentPosition()">Current location</button>
            <app-weather-form [responceCityName]="city" (lat)="onLatChanged($event)" (long)="onLongChanged($event)"/>    
        </div> 

        <div class="row-container header-label">
            <p>latitude:</p>
            <p>{{lat}}</p>
            <p>longtitude:</p>
            <p>{{long}}</p>
        </div> 
    </div>    
    <div class="layout-body">
        <app-weather-information [currentWeather]="currentWeather"/>
    </div>
</div>
