<div class="vertical-centered-container">
    <h2>{{currentWeather?.weather}}</h2>
    <h3>{{currentWeather?.weather_description}}</h3>
    <table>
        <tr>
            <th>Temperature: </th>
            <td>{{currentWeather?.temperature}}</td>
        </tr> 
        <tr>
            <th>Feels like:</th>
            <td>{{currentWeather?.feels_like}}</td>
        </tr>    
        <tr>
            <th>Pressure:</th>
            <td>{{currentWeather?.pressure}}</td>
        </tr>         
        <tr>
            <th>Humidity:</th>
            <td>{{currentWeather?.humidity}}</td>
        </tr>           
    </table>
</div>
